.todo-app{
    height: 100vh;
    background-color: #ECF4F6;

}
.btn-style{
    font-size: 18px;
    font-weight: 600;
    color: white !important;
}
.bg-delete{
    background-color: rgb(220, 53, 69)
}
.bg-delete:hover{
    background-color: rgba(220, 53, 69,.89)
}

.bg-opacity{
    background-color: rgba(220, 53, 69,.3)
}